__default__:
    partition: short.q
    job-name: LRRtransfer.{rule}
    output: LRRtransfer.{rule}.$JOB_ID.out
    error:  LRRtransfer.{rule}.$JOB_ID.err

genePrediction:
    partition: short.q
    job-name: LRRtransfer.{rule}.{wildcards.split_id}
    output: LRRtransfer.{rule}.{wildcards.split_id}.$JOB_ID.out
    error:  LRRtransfer.{rule}.{wildcards.split_id}.$JOB_ID.err
